DATABASE_URL="file:./dev.db"
HEADLESS=true
CHROMIUM=
DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_VOICE_CHANNEL_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:9000/api/auth/discord/callback
TWITCH_STREAM_KEY=
NODE_ENV=development
PORT=9000
